{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- <script src="https://kit.fontawesome.com/9d63a7fb7b.js" crossorigin="anonymous"></script> -->
    <title>BookNook</title>   
</head>

<body>
    <h1 class="logo">BookNook</h1>

    <a href="login/" class="log">LOG IN</a>
    <a href="signup/" class="sign">SIGN UP</a>
    
</body>




